@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200&family=Handlee&family=Mali:wght@300&family=Playfair+Display+SC&family=Poppins:ital,wght@0,300;0,400;0,600;1,200;1,300&family=Ubuntu:ital,wght@0,300;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200&family=Handlee&family=Italianno&family=Mali:wght@300&family=Playfair+Display+SC&family=Poppins:ital,wght@0,300;0,400;0,600;1,200;1,300&family=Ubuntu:ital,wght@0,300;1,400&display=swap');


.home__container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 2rem; */
}

.elv{
    font-family: 'Changa', sans-serif;
    font-size: 20rem;
    letter-spacing: 2rem;
    font-weight: 600;
    color: white;
    text-shadow: -8px 3px 2px black;
    position: relative;
}

.cursive {
    position: absolute;
    top: 40%;
    left: 70%;
    font-family: 'Italianno', cursive;
    color: white;
    font-size: 2rem;
}